# 1. Import the required librarires

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")
%matplotlib inline

In [ ]:
from mpl_toolkits.mplot3d import Axes3D
from plotly.offline import init_notebook_mode, iplot
import plotly.figure_factory as ff
import cufflinks
cufflinks.go_offline()
cufflinks.set_config_file(world_readable=True, theme='pearl')
import plotly.graph_objs as go
import plotly
from plotly import tools
import plotly.express as px
from scipy.stats import boxcox
init_notebook_mode(connected=True)

In [ ]:
#setting max column , rows, width visibility
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

# 2. Load the data and read it

In [ ]:
dataF = pd.read_csv("application_data.csv")
dataF.head()

# 2.1 Inspecting the dataframe

Inspecting the dataframe to analyze the shape, info and describe

In [ ]:
#Shape of the data
dataF.shape

Here, we can see there are 3,07,511 rows and 122 columns

In [ ]:
#info of the data
dataF.info()

In [ ]:
#numeric column summary to be check
dataF.describe()

We can observe in total of 106 columns are numeric out of 122 columns

# 2.2 Find the Null Value percentage and infer how to handle Null Values

In [ ]:
#Analysis of percentage of null values in each column
percNull=dataF.isnull().sum()/len(dataF)*100
percNull.sort_values(ascending=False).head(50)

 - <b> Data Cleaning </b>

In [ ]:
#list of NULL Value columns where NA values are more than 40%
null_col = dataF.isnull().sum()
null_col = null_col[null_col>(0.40*len(dataF))]

In [ ]:
#total number of NULL columns
len(null_col)

In [ ]:
#drop the null value columns
null_col=list(null_col[null_col.values>=0.40].index)
dataF.drop(labels=null_col,axis=1,inplace=True)

 - 49 Null value columns has been droped

In [ ]:
#now check the new shape of the data
dataF.shape

In [ ]:
#now checking less number of null values
dataF.isnull().sum()/len(dataF)*100

 - Here, we can see "AMT_ANNUTIY" is having very less number of null values or can say missing values.

In [ ]:
#handeling the missing values with median.
val_imp1 = dataF["AMT_ANNUITY"].median()
dataF.loc[dataF["AMT_ANNUITY"].isnull(),"AMT_ANNUITY"]=val_imp1

In [ ]:
#handling the missing values with mean
val_imp2 = dataF["CNT_FAM_MEMBERS"].mean()
dataF.loc[dataF["CNT_FAM_MEMBERS"].isnull(),"CNT_FAM_MEMBERS"]=val_imp2

In [ ]:
#handling the missing values with mean
val_imp3 = dataF["DAYS_LAST_PHONE_CHANGE"].median()
dataF.loc[dataF["DAYS_LAST_PHONE_CHANGE"].isnull(),"DAYS_LAST_PHONE_CHANGE"]=val_imp3

In [ ]:
#handling the missing values with mode
dataF["OCCUPATION_TYPE"].mode()

In [ ]:
##handling the missing values with mode
dataF.loc[dataF["OCCUPATION_TYPE"].isnull(),"OCCUPATION_TYPE"]="Laborers"

In [ ]:
#handling the missing values with mode
val_imp5 = dataF["AMT_GOODS_PRICE"].median()
dataF.loc[dataF["AMT_GOODS_PRICE"].isnull(),"AMT_GOODS_PRICE"]=val_imp5

In [ ]:
#handling the missing values with mode
dataF["NAME_TYPE_SUITE"].mode()

In [ ]:
#imputing the mode value
dataF.loc[dataF["NAME_TYPE_SUITE"].isnull(),"NAME_TYPE_SUITE"]="Unaccompanied"

In [ ]:
#handling the missing values with mode
dataF["ORGANIZATION_TYPE"].mode()

In [ ]:
#imputing the mode value
dataF.loc[dataF["ORGANIZATION_TYPE"].isnull(),"ORGANIZATION_TYPE"]="Business Entity Type 3"

In [ ]:
#handling the missing values with mode
dataF["AMT_REQ_CREDIT_BUREAU_HOUR"].mode()

In [ ]:
#imputing the mode value
dataF.loc[dataF["AMT_REQ_CREDIT_BUREAU_HOUR"].isnull(),"AMT_REQ_CREDIT_BUREAU_HOUR"]=0.0

In [ ]:
#handling the missing values with mode
dataF["AMT_REQ_CREDIT_BUREAU_DAY"].mode()

In [ ]:
#imputing the mode value
dataF.loc[dataF["AMT_REQ_CREDIT_BUREAU_DAY"].isnull(),"AMT_REQ_CREDIT_BUREAU_DAY"]=0.0

In [ ]:
#handling the missing values with mode
dataF["AMT_REQ_CREDIT_BUREAU_WEEK"].mode()

In [ ]:
#imputing the mode value
dataF.loc[dataF["AMT_REQ_CREDIT_BUREAU_WEEK"].isnull(),"AMT_REQ_CREDIT_BUREAU_WEEK"]=0.0

In [ ]:
#handling the missing values with mode
dataF["AMT_REQ_CREDIT_BUREAU_MON"].mode()

In [ ]:
#imputing the mode value
dataF.loc[dataF["AMT_REQ_CREDIT_BUREAU_MON"].isnull(),"AMT_REQ_CREDIT_BUREAU_MON"]=0.0

In [ ]:
#handling the missing values with mode
dataF["AMT_REQ_CREDIT_BUREAU_QRT"].mode()

In [ ]:
#imputing the mode value
dataF.loc[dataF["AMT_REQ_CREDIT_BUREAU_QRT"].isnull(),"AMT_REQ_CREDIT_BUREAU_QRT"]=0.0

In [ ]:
#handling the missing values with mode
dataF["AMT_REQ_CREDIT_BUREAU_YEAR"].mode()

In [ ]:
#imputing the mode value
dataF.loc[dataF["AMT_REQ_CREDIT_BUREAU_YEAR"].isnull(),"AMT_REQ_CREDIT_BUREAU_YEAR"]=0.0

 - After observing here we can see there are outliers too and which is very large and it will be not good to impute those values with mean. Hence, the best option comes here is meadian to cater the outliers.

In [ ]:
#again looking for the NULL values
dataF.isnull().sum()

 - Rest values are not required to impute just because in no use of the analysis part.

In [ ]:
#find the "XNA" values in "CODE_GENDER" column and correct this value with best option
dataF[dataF["CODE_GENDER"]=="XNA"].shape

Here, we can see 4 rows contains "XNA" values

In [ ]:
#correction of "XNA" values
dataF["CODE_GENDER"].value_counts()

In [ ]:
#now updating the column with "F" in the dataset
dataF.loc[dataF["CODE_GENDER"]=="XNA","CODE_GENDER"]="F"
dataF["CODE_GENDER"].value_counts()

So, here we have imputed the irregularities with best option

In [ ]:
#find the "XNA" values in "CODE_GENDER" column and correct this value with best option
dataF[dataF["ORGANIZATION_TYPE"]=="XNA"].shape

In [ ]:
#describe the "ORGANIZATION_TYPE" column
dataF["ORGANIZATION_TYPE"].describe()

Here, we can see in total of 55374 rows are containing "XNA" values and we are imputing the "XNA" value with NaN

In [ ]:
#replacing the value "XNA" with NaN
dataF = dataF.replace('XNA',np.NaN)

# 2.3 Now find the inappropriate data in datasets like negative values was entered accidently

In [ ]:
#columns starting with "DAYS"
col_irr=[col for col in dataF if col.startswith("DAYS")]
col_irr

In [ ]:
# Irregularities check in the columns which starts with "DAYS" as uniquely identified
print(dataF['DAYS_BIRTH'].unique())
print(dataF['DAYS_REGISTRATION'].unique())
print(dataF['DAYS_LAST_PHONE_CHANGE'].unique())
print(dataF['DAYS_EMPLOYED'].unique())
print(dataF['DAYS_ID_PUBLISH'].unique())

In [ ]:
#correction of irregularities with using abs function
dataF[col_irr]=abs(dataF[col_irr])

In [ ]:
#now again check is irregularities are fixed
print(dataF['DAYS_BIRTH'].unique())
print(dataF['DAYS_REGISTRATION'].unique())
print(dataF['DAYS_LAST_PHONE_CHANGE'].unique())
print(dataF['DAYS_EMPLOYED'].unique())
print(dataF['DAYS_ID_PUBLISH'].unique())

# 2.4 Binning of contineous variables

In [ ]:
#doing binning 'AMT_INCOME_RANGE' based on quantiles
dataF['AMT_INCOME_RANGE'] = pd.qcut(dataF.AMT_INCOME_TOTAL, q=[0, 0.2, 0.5, 0.8, 0.95, 1], labels=['VERY_LOW', 'LOW', "MEDIUM", 'HIGH', 'VERY_HIGH'])
dataF['AMT_INCOME_RANGE'].head(15)

In [ ]:
#doing binning 'AMT_CREDIT_RANGE' by creating various ranges
dataF['AMT_CREDIT_RANGE'] = pd.qcut(dataF.AMT_CREDIT, q=[0, 0.2, 0.5, 0.8, 0.95, 1], labels=['VERY_LOW', 'LOW', "MEDIUM", 'HIGH', 'VERY_HIGH'])
dataF['AMT_CREDIT_RANGE'].head(15)

In [ ]:
#now converting 'DAYS_BIRTH' to years
dataF['DAYS_BIRTH']= (dataF['DAYS_BIRTH']/365).astype(int)
dataF["DAYS_BIRTH"].head()

In [ ]:
dataF["DAYS_BIRTH"].unique()

In [ ]:
#now performing bining 'DAYS_BIRTH'
dataF['DAYS_BIRTH_BINS']=pd.cut(dataF['DAYS_BIRTH'], bins=[19,25,35,60,100], labels=['Very_Young','Young', 'Middle_Age', 'Senior_Citizen'])
dataF['DAYS_BIRTH_BINS'].value_counts()

 - <b>Here, we have performed data cleaning to have better analysis and gather good insights of the data</b>

# 3. Now Analysis on dataset after Data Cleaning

###    3.1 Identifying the outliers

In [ ]:
# boxplot for 'AMT_INCOME_TOTAL' column to check the outliers
fig = px.box(dataF, y="AMT_INCOME_TOTAL",title='AMT_INCOME_TOTAL distribution' )
fig.show()

 - Using boxplot analysis we can plot that there is an outlier at 170M in the column "AMT_INCOME_TOTAL"

In [ ]:
#boxplot for "DAYS_BIRTH" column to check the outliers
fig = px.box(dataF, y="DAYS_BIRTH",title='DAYS_BIRTH distribution' )
fig.show()

 - Here, we observe there is no outliers in the column "DAYS_BIRTH"

In [ ]:
#boxplot for "AMT_ANNUITY" column to check the outliers
fig = px.box(dataF, y="AMT_ANNUITY",title='AMT_ANNUITY distribution' )
fig.show()

 - Here, we observe that the value above 258k is an outlier in the column of "AMT_ANNUUITY"

In [ ]:
#boxplot for "DAYS_REGISTRATION" column to check the outliers
fig = px.box(dataF, y="DAYS_REGISTRATION", title="DAYS_REGISTRATION distribution" )
fig.show()

 - Here, the column "DAYS_REGISTRATION" means how many days before the registration has been done.

In [ ]:
#boxplot for "DAYS_EMPLOYED" column to check the outliers
fig = px.box(dataF, y="DAYS_EMPLOYED", title="DAYS_EMPLOYED distribution" )
fig.show()

 - Here, we observe the column "DAYS_EMPLOYED" contains outlier which is greater than 350k

# 3.2 Distribution check

In [ ]:
# distribution of 'DAYS_EMPLOYED'
sns.set(rc={'figure.figsize':(20,10)})
sns.distplot(dataF['DAYS_EMPLOYED'], color="#4CB391" )
plt.title('DAYS_EMPLOYED Distribution', fontdict={'fontsize':18, "color":"green"} )
plt.xlabel("DAYS_EMPLOYED", fontdict={"fontsize":15,"color":"Black"})
plt.ylabel("Density", fontdict={"fontsize":15,"color":"Black"})
plt.show()

Here, the column "DAYS_EMPLOYED" tells that how many days before the application the person started the current employement.

In [ ]:
#distribution of 'OCCUPATION_TYPE'
occ_dist = dataF["OCCUPATION_TYPE"].value_counts()
occ_dist.iplot(kind='bar', xTitle = 'Occupation', yTitle = "Count", title = 'Applicant\'s Occupation who applied for loan', color = 'blue')

 - Here, we observe that in column "OCCUPATION_TYPE" the Labourers, Sales staff, Core staff, Managers, Drivers are the highest candidates who are applying for the loan.

In [ ]:
#distribution of 'ORGANIZATION_TYPE'
org_dist = dataF["ORGANIZATION_TYPE"].value_counts()
org_dist.iplot(kind='bar', yTitle = "Count", xTitle = 'Organization Name', title = 'Types of Organizations who applied for loan ', color = 'blue')

 - Here, we observe that in the "ORGANIZATION_TYPE" the majority of loan applications comes from Business Entity Type 3

### 3.3 Imbalance check to have idea of trend

In [ ]:
tar_imb = dataF["TARGET"].value_counts()
df = pd.DataFrame({'labels': tar_imb.index,'values': tar_imb.values})
df.iplot(kind='pie',labels='labels',values='values', title='Imbalance Distribution of TARGET column', hole = 0.5)

 - So, after analyzing this dataset we observe that there is huge imbalance in TARGET column which clearly states one side story is high as compare to other side with 91.9% of data

### 3.4 Univariate analysis on Categorical Variables

##### 3.4.1 Dividing the dataset into 2 different datasets based upon "TARGET" value

In [ ]:
#converting the dataset
dataF_tar0 = dataF.loc[dataF.TARGET == 0]
dataF_tar1 = dataF.loc[dataF.TARGET == 1]

In [ ]:
#checking the 2 different dataset, first "dataF_tar0"
dataF_tar0.head()

In [ ]:
#checking the 2 different dataset, second "dataF_tar1"
dataF_tar1.head()

#### 3.4.2 Checking the Gender Distribution on Payment and Non-Payment application

In [ ]:
#Loan Non-Payment Gender Distribution
g0 = dataF_tar0["CODE_GENDER"].value_counts()
df = pd.DataFrame({'labels': g0.index,'values': g0.values})
df.iplot(kind='pie',labels='labels',values='values', title='Non-Payment difficulties in Gender Distribution', hole = 0.5)

 - Here, we observe that Female candidate contains higher than male in Non-Payment difficulties.

In [ ]:
#Loan Payment Gender Distribution
g1 = dataF_tar1["CODE_GENDER"].value_counts()
df = pd.DataFrame({'labels': g1.index,'values': g1.values})
df.iplot(kind='pie',labels='labels',values='values', title='Payment difficulties in Gender Distribution', hole = 0.5)

 - Here, we observe that again Female candidate contains higher than male in Payment difficulties.

#### 3.4.3 Family status analysis on Non-Payment and Payment difficulties

In [ ]:
# Family Status of Loan- Non Payment Difficulties
f0 = dataF_tar0["NAME_FAMILY_STATUS"].value_counts()
df = pd.DataFrame({'labels': f0.index,'values': f0.values})
df.iplot(kind='pie',labels='labels',values='values', title='Family Status of Loan Non-Payment Difficulties', hole = 0.5)

 - Here, we observed that in non-payment difficulties there are married candidates which is higher than other which is "Single, Civil Marriage, Seperated, Widow, Unknown".

In [ ]:
# Family Status of Loan Payment Difficulties
f1 = dataF_tar1["NAME_FAMILY_STATUS"].value_counts()
df = pd.DataFrame({'labels': f1.index,'values': f1.values})
df.iplot(kind='pie',labels='labels',values='values', title='Family Status of Loan Payment Difficulties', hole = 0.5)

 - Here, again we observed that in loan payment difficulties there are married candidates only which is higher than other which is "Single, Civil Marriage, Seperated, Widow, Unknown".

#### 3.4.4 Income source analysis on Loan payment and non-payment difficulties

In [ ]:
# Income sources of Loan- Non Payment Difficulties
i0 = dataF_tar0["NAME_INCOME_TYPE"].value_counts()
df = pd.DataFrame({'labels': i0.index,'values': i0.values})
df.iplot(kind='pie',labels='labels',values='values', title='Income sources of Loan- Non Payment Difficulties', hole = 0.5)

 -  Here, we observed that Working professionals are slighlty above 50% who are facing difficulties in non-payment

In [ ]:
# Income sources of Loan Payment Difficulties
i1 = dataF_tar1["NAME_INCOME_TYPE"].value_counts()
df = pd.DataFrame({'labels': i1.index,'values': i1.values})
df.iplot(kind='pie',labels='labels',values='values', title='Income sources of Loan Payment Difficulties', hole = 0.5)

 - Now, here very interesting picture comes where working professinal are much higher among others who are facing difficulties in loan payment.

#### 3.4.5 Housing analysis on Loan payment and non-payment difficulties

In [ ]:
# Type of House of Loan- Non Payment Difficulties
h0 = dataF_tar0["NAME_HOUSING_TYPE"].value_counts()
df = pd.DataFrame({'labels': h0.index,'values': h0.values})
df.iplot(kind='pie',labels='labels',values='values', title='Type of House of Loan-Non Payment Difficulties', hole = 0.5)

 - Here, we observed that "House/apartment" category is much higher than other in non-payment loan difficulties

In [ ]:
# Type of House of Payment Difficulties
h1 = dataF_tar1["NAME_HOUSING_TYPE"].value_counts()
df = pd.DataFrame({'labels': h1.index,'values': h1.values})
df.iplot(kind='pie',labels='labels',values='values', title='Type of House of Loan Payment Difficulties', hole = 0.5)

 - Here, again "House/apartment" category is much higher than others in Loan payment difficulties analysis

#### 3.4.6 Education analysis on Loan payment and non-payment difficulties

In [ ]:
# Education of Loan- Non Payment Difficulties
e0 = dataF_tar0["NAME_EDUCATION_TYPE"].value_counts()
df = pd.DataFrame({'labels': e0.index,'values': e0.values})
df.iplot(kind='pie',labels='labels',values='values', title='Education of Loan- Non Payment Difficulties', hole = 0.5)

 - Here, we observed that "Secondary/secondary special" category is much higher than other in non-payment loan difficulties

In [ ]:
# Education of Loan Payment Difficulties
e1 = dataF_tar1["NAME_EDUCATION_TYPE"].value_counts()
df = pd.DataFrame({'labels': e1.index,'values': e1.values})
df.iplot(kind='pie',labels='labels',values='values', title='Education of Loan Payment Difficulties', hole = 0.5)

 - Here, again we observed that "Secondary/secondary special" category is much higher than other in payment loan difficulties

#### 3.4.7 Age analysis on Loan payment and non-payment difficulties

In [ ]:
# Age of Loan-Non Payment Difficulties
a0 = dataF_tar0["DAYS_BIRTH_BINS"].value_counts()
df = pd.DataFrame({'labels': a0.index,'values': a0.values})
df.iplot(kind='bar',x='labels',y='values', title='Age of Loan-Non Payment Difficulties', hole = 0.5,xTitle = "Category", yTitle = "Values")

 - Here, we can see "Middle_Age" group category are higher than others in loan non-payment difficulties

In [ ]:
# Age of Loan Payment Difficulties
a1 = dataF_tar1["DAYS_BIRTH_BINS"].value_counts()
df = pd.DataFrame({'labels': a1.index,'values': a1.values})
df.iplot(kind='bar',x='labels',y='values', title='Age of Loan-Non Payment Difficulties', hole = 0.5,xTitle = "Category", yTitle = "Values")

 - Here, again we can see "Middle_Age" group category are higher than others in loan payment difficulties

#### 3.4.8 Type of loans analysis on Loan payment and non-payment difficulties

In [ ]:
# Types of Loans taken by Loan-Non Payment Difficulties
t0 = dataF_tar0["NAME_CONTRACT_TYPE"].value_counts()
df = pd.DataFrame({'labels': t0.index,'values': t0.values})
df.iplot(kind='pie',labels='labels',values='values', title='Types of Loans taken by Loan-Non Payment Difficulties', hole = 0.5)

 - Here, we can see revolving loans are higher in rate in comparision to cash loans in non-paymnet difficulties

In [ ]:
# Types of Loans taken by Loan Payment Difficulties
t1 = dataF_tar1["NAME_CONTRACT_TYPE"].value_counts()
df = pd.DataFrame({'labels': t1.index,'values': t1.values})
df.iplot(kind='pie',labels='labels',values='values', title='Types of Loans taken by Loan Payment Difficulties', hole = 0.5)

 - Here, again we can see revolving loans are higher in rate in comparision to cash loans in paymnet difficulties

#### 3.4.9 Organization type analysis on Loan payment and non-payment difficulties

In [ ]:
# Types of Organizations who applied for loan - Non-Payment Difficulties
o0 = dataF_tar0["ORGANIZATION_TYPE"].value_counts()
df = pd.DataFrame({'labels': o0.index,'values': o0.values})
df.iplot(kind='bar',x='labels',y='values',xTitle="Category",yTitle="Values", title='Types of Organizations who applied for loan - Non-Payment Difficulties', hole = 0.5)

 - Here, we observed that "Business Entity Type 3" organization has higher rate among others in loan non-payment difficulties

In [ ]:
# Types of Organizations who applied for loan - Payment Difficulties
o1 = dataF_tar1["ORGANIZATION_TYPE"].value_counts()
df = pd.DataFrame({'labels': o1.index,'values': o1.values})
df.iplot(kind='bar',x='labels',y='values',xTitle="Category",yTitle="Values", title='Types of Organizations who applied for loan - Payment Difficulties', hole = 0.5)

 - Here, again we observed that "Business Entity Type 3" organization has higher rate among others in loan payment difficulties

### 3.6 Univariate analysis based on 'Target' variable (Numeric)

In [ ]:
# Univariate plot function
def unipl(df, colm, hue=None ):
    sns.set(style ="whitegrid")
    fig, ax = plt.subplots(nrows =1, ncols =2, figsize=(21,9))
    ax[0].set_title("Distribution Plot")
    sns.distplot(df[~df[colm].isna()][colm],ax = ax[0],color = "g")
    plt.yscale('log')
    ax[1].set_title("Box Plot")
    sns.boxplot(data = df, x=colm,ax=ax[1], orient = "v", color = "m")
    plt.yscale("log")
    plt.show()

#### 3.6.1 Credit Amount

In [ ]:
#Analyzing "AMT_CREDIT" for Loan Non-Payment Difficulties using distribution and box plot
unipl(df=dataF_tar0, colm = "AMT_CREDIT")

In [ ]:
#Analyzing "AMT_CREDIT" for Loan Payment Difficulties using distribution and box plot
unipl(df=dataF_tar1, colm = "AMT_CREDIT")

  - We can infer that most of the annuity amount are from first quartile.
 The distribution curve doen't appear as normal or bell curve.

#### 3.6.2 Amount Goods Price

In [ ]:
#plots for AMT_GOODS_PRICE for Loan Non-Payment Difficulties using distribution and box plot
unipl(df=dataF_tar0, colm ="AMT_GOODS_PRICE")

In [ ]:
#plots for AMT_GOODS_PRICE for Loan Payment Difficulties using distribution and box plot
unipl(df=dataF_tar1, colm ="AMT_GOODS_PRICE")

 - There are some outliers and 1st quartile is bigger than 3rd quartile, which means more are from 1st quartile.

#### 3.6.3 Annuity amount

In [ ]:
#plots for AMT_GOODS_PRICE for Loan Non-Payment Difficulties using distribution and box plot
unipl(df=dataF_tar0, colm ="AMT_ANNUITY")

In [ ]:
#plots for AMT_GOODS_PRICE for Loan Payment Difficulties using distribution and box plot
unipl(df=dataF_tar1, colm ="AMT_ANNUITY")

 - We can infer that most of the annuity amount are from first quartile.
 The distribution curve doen't appear as normal or bell curve.

### 3.7 Bivariate Analysis

#### 3.7.1 Bivariate analysis for categorical and numerical variables

In [ ]:
#"NAME_EDUCATION_TYPE" vs "AMT_CREDIT" for loan Non Payment difficulties
fig = px.box(dataF_tar0, x ="NAME_EDUCATION_TYPE", y="AMT_CREDIT", color = "NAME_FAMILY_STATUS", title="Amount Vs Education for Loan Non Payment difficulties" )
fig.show()

In [ ]:
#"NAME_EDUCATION_TYPE" vs "AMT_CREDIT" for loan Payment difficulties
fig = px.box(dataF_tar1, x ="NAME_EDUCATION_TYPE", y="AMT_CREDIT", color = "NAME_FAMILY_STATUS", title="Amount Vs Education for Loan Payment difficulties" )
fig.show()

- Both the plots appear to be similiar.
- Family status of 'civil marriage', 'marriage' and 'seperated' of      Academic degree education have higher number of credits.
- In Education type "Higher Education" and "Secondary" have most of the outliers.

In [ ]:
# "AMT_INCOME_RANGE" vs "AMT_CREDIT" for loan non payment difficulties
fig = px.box(dataF_tar0, x = "AMT_INCOME_RANGE", y = "AMT_CREDIT", color = "NAME_FAMILY_STATUS", title =" Income range VS Credit Amount for loan non Payment Difficulties"  )
fig.show()

In [ ]:
# "AMT_INCOME_RANGE" vs "AMT_CREDIT" for loan payment difficulties
fig = px.box(dataF_tar1, x = "AMT_INCOME_RANGE", y = "AMT_CREDIT", color = "NAME_FAMILY_STATUS", title =" Income range VS Credit Amount for loan non Payment Difficulties"  )
fig.show()

- Both the plots appear to be similiar.
- Family status of 'single', 'marriage' and 'seperated' have higher number credits

#### 3.7.3 Bivariate Analysis Numerical vs Numerical

In [ ]:
# Target0 Pair plot for loan non payment difficulties
pairp = dataF_tar0[['AMT_CREDIT', 'AMT_ANNUITY', 'AMT_INCOME_TOTAL', 'AMT_GOODS_PRICE', 'DAYS_BIRTH']].fillna(0)
sns.pairplot(pairp)
plt.show()

In [ ]:
# Target1 Pair plot for loan non payment difficulties
pairp = dataF_tar1[['AMT_CREDIT', 'AMT_ANNUITY', 'AMT_INCOME_TOTAL', 'AMT_GOODS_PRICE', 'DAYS_BIRTH']].fillna(0)
sns.pairplot(pairp)
plt.show()

In [ ]:
# Heat Map - Loan non payment difficulties
dataF_tar0[['AMT_GOODS_PRICE','AMT_INCOME_TOTAL','AMT_ANNUITY','DAYS_EMPLOYED','DAYS_BIRTH',
         'DAYS_REGISTRATION', 'DAYS_ID_PUBLISH',
         'AMT_CREDIT']].corr(method = 'pearson').iplot(kind = "heatmap", colorscale = "Blues", title = "Correlation Heat map Loan Non Payment Difficulties")

In [ ]:
# Heat Map - Loan payment difficulties
dataF_tar1[['AMT_GOODS_PRICE','AMT_INCOME_TOTAL','AMT_ANNUITY','DAYS_EMPLOYED','DAYS_BIRTH',
         'DAYS_REGISTRATION', 'DAYS_ID_PUBLISH',
         'AMT_CREDIT']].corr(method = 'pearson').iplot(kind = "heatmap", colorscale = "Blues", title = "Correlation Heat map Loan Payment Difficulties")

- Credit amount and goods price have higher correlation
- In credit amount vs income have some deviance in Loan payment and non payment difficulties

# Top 10 Correlation with payment difficulties for client

In [ ]:
corr = dataF_tar1[['AMT_GOODS_PRICE', 'AMT_INCOME_TOTAL','AMT_ANNUITY','DAYS_EMPLOYED',
  'DAYS_BIRTH', 'DAYS_REGISTRATION', 'DAYS_ID_PUBLISH',
  'AMT_CREDIT']].corr(method="pearson")
corr = corr.where(np.triu(np.ones(corr.shape), k=1).astype(np.bool))
corr_df = corr.unstack().reset_index()

In [ ]:
corr_df.columns = ['VAR1','VAR2','CORRELATION']
corr_df.dropna(subset = ['CORRELATION'],inplace = True)
corr_df['CORR_ABS'] = corr_df['CORRELATION'].abs()

In [ ]:
corr_df.sort_values('CORR_ABS', ascending = False).head(10)

#### Top 10 correlation for clients with payment difficulties are displayed.

### 4. Previous Application Data Analysis

In [ ]:
#read previous_application.csv
dataP = pd.read_csv("previous_application.csv")
dataP.head()

### 4.1 Inspecting the dataframe

Inspecting the dataframe to analyze the shape, info and describe

In [ ]:
dataP.shape

In [ ]:
dataP.info()

In [ ]:
dataP.describe()

#### Data Cleaning

In [ ]:
# Changing column's value with name starting with DAYS from negative to positive
filter_col = [col for col in dataP if col.startswith('DAYS')]
dataP[filter_col] = abs(dataP[filter_col])

In [ ]:
dataP.head()

In [ ]:
# XAP and XNA are replaced by NaN
dataP = dataP.replace("XNA", np.NaN)
dataP = dataP.replace("XAP", np.NaN)

In [ ]:
# Contract status value in previous application
dataP['NAME_CONTRACT_STATUS'].value_counts()

# 4.2 Univariate Analysis in previous application

#### 4.2.1 Contract status

In [ ]:
# Contract status in previous application
con = dataP["NAME_CONTRACT_STATUS"].value_counts()
df = pd.DataFrame({'labels': con, "values": con.values})
df.iplot(kind = "pie", labels = "labels", values="values", title = "Contract status in previous application ", colors =[ "#75efff", '#7e7e7e','#75e757', '#ea7c96'])

Majority of the loans are approved and less percent are unused.

#### 4.2.2 Days of the Week

In [ ]:
# Day, when the client applied for the loan and their count
day = dataP["WEEKDAY_APPR_PROCESS_START"].value_counts()
day.iplot(kind = "bar", xTitle = "Week day", yTitle ="count", title="Client applied on day", color = ["#75e757"])

 - Most of the applicants apply in weekdays when compared to weekend

#### 4.2.3 Payment Method

In [ ]:
# Client choose to make payment in previous application
payt = dataP["NAME_PAYMENT_TYPE"].value_counts()
df = pd.DataFrame({"labels": payt.index, "values":payt.values })
df.iplot(kind = "pie", labels = "labels", values = "values", title = "Client's payment method in previous application", colors = [ "#75efff", '#7e7e7e','#75e757'])

 - 99% client pay through cash to the bank

#### 4.2.4 Reason for rejection

In [ ]:
#Reason for rejection
rej = dataP["CODE_REJECT_REASON"].value_counts()
rej.iplot(kind = "bar", xTitle= "Reason", yTitle="Count", title = "Reason for rejection", colors =['#ea7c96'])

 - HC is the reason for majority of rejection.

#### 4.2.5 Old or New Client

In [ ]:
# while applying whether the client was old or new
cli = dataP["NAME_CLIENT_TYPE"].value_counts()
df = pd.DataFrame({"labels": cli.index, "values":cli.values })
df.iplot(kind = "pie", labels = "labels", values = "values", title = "whether the client was old or new", colors = [ "#75efff", '#7e7e7e','#75e757'])

 - Most of the clients are repeaters.

#### 4.2.6 Type of goods

In [ ]:
# Kinds of goods the client apply for
go = dataP["NAME_GOODS_CATEGORY"].value_counts()
go.iplot(kind = "bar", xTitle= "Type of goods", yTitle="Count", title = "Kinds of goods the client apply for", colors =['#fe2345'])

 - Kinds of goods the client apply for are mobiles, consumer electronics, computers and Audio/Video.

# 4.3 Univariate analysis numeric columns

In [ ]:
unipl(df = dataP, colm ="AMT_ANNUITY")

 - There are some outliers and curve is not normal

In [ ]:
unipl(df = dataP, colm = 'AMT_CREDIT')

 - There are some outliers and curve is not normal

# 5 Bivariate analysis after combining previous application and application data

In [ ]:
# SK_ID_CURR and TARGET from application data for further analysis
dataF_new = dataF[['SK_ID_CURR','TARGET']]

In [ ]:
#checking the data
dataF_new

In [ ]:
# Merging application and previous appplication based on 'SK_ID_CURR'
dataF_merge = dataF_new.merge(dataP, on= "SK_ID_CURR", how = "inner")
dataF_merge.shape

In [ ]:
# Function for biplots analysis
from plotly.subplots import make_subplots
import plotly.graph_objects as go
def biplot(df,feature,title):
    temp = df[feature].value_counts()

    # Calculate the percentage of target=1 per category value
    perc = df[[feature, 'TARGET']].groupby([feature],as_index=False).mean()
    perc.sort_values(by='TARGET', ascending=False, inplace=True)

    fig = make_subplots(rows=1, cols=2,subplot_titles=("Count of "+ title,"% of Loan Payment difficulties within each category"))


    fig.add_trace(go.Bar(x=temp.index, y=temp.values),row=1, col=1)
    fig.add_trace(go.Bar(x=perc[feature].to_list(), y=perc['TARGET'].to_list()),row=1, col=2)
    fig['layout']['xaxis']['title']=feature
    fig['layout']['xaxis2']['title']=feature
    fig['layout']['yaxis']['title']='Count'
    fig['layout']['yaxis2']['title']='% of Loan Payment Difficulties'
    fig.update_layout(height=600, width=1000, title_text=title, showlegend=False)
    fig.show()

In [ ]:
# Contract status and its category distribution with maximum % of loan payment Difficulties.
biplot(dataF_merge, 'NAME_CONTRACT_STATUS', 'CONTRACT STATUS')

From first plot most contracts from previous application has been approved

From second plot
- 'Refused' are one with maximum % of loan payment Difficulties from current application.
- 'Approved' are one with minimum % of loan payment Difficulties from current application.

In [ ]:
# Contract type and its category distribution with maximum % of loan payment Difficulties.
biplot(dataF_merge, 'NAME_CONTRACT_TYPE', 'CONTRACT_TYPE')

From first plot it can be seen most contract type were of "cash loan" from previous application

From second plot
- 'Revolving Loans' are one with maximum % of loan payment Difficulties from current application.
- 'Consumer Loans' are one with minimum % of loan payment Difficulties from current application.

In [ ]:
#Payment Type and its category distribution maximum % of loan payment Difficulties.
biplot(dataF_merge,'NAME_PAYMENT_TYPE', 'PAYMENT TYPE')

 - First graph shows most of the payment type were "cash through bank".

 - Second graph shows all the 3 types of payment have almost same % of loan payment Difficulties from current application.

In [ ]:
# Client type and its category distribution with  maximum % of loan payment Difficulties.
biplot(dataF_merge, 'NAME_CLIENT_TYPE', 'CLIENT TYPE')

First graph shows most of the clients are "Repeater"

Second graph shows
- "New" clients have maximum % of loan payment Difficulties from cureent application
- "Refreshed" clients have minimum % of loan payment Difficulties from cureent application

In [ ]:
# Cash loan purpose and its category with maximum % of loan difficulties.
biplot(dataF_merge, 'NAME_CASH_LOAN_PURPOSE', 'CASH LOAN PURPOSE')

Purpose of cashloan from previous data were mostly for "Repairs"

From second graph
- For cash loan "Refusal to name goal" have maximum % of loan payment Difficulties from cureent application

In [ ]:
#creating pivot table for analysis
table = pd.pivot_table(dataF_merge, values = "TARGET", index = ['NAME_CLIENT_TYPE'], columns = ['NAME_CONTRACT_STATUS'], aggfunc = np.mean)

In [ ]:
#Checking the table
table

In [ ]:
apx = table.T.plot(kind = 'bar')
ylab = apx.set_ylabel("% of loan payment Difficulties ")
plt.title("% of loan payment Difficulties  for NAME_CONTRACT_STATUS and NAME_CLIENT_TYPE ", fontdict = {'fontsize':20})
plt.show()

 - Client who are "New" and have "Cancelled" previous application have more % of loan payment Difficulties in current application

In [ ]:
#creating pivot table for another analysis
table = pd.pivot_table(dataF_merge, values = "TARGET", index = ['NAME_CONTRACT_TYPE'], columns = ['NAME_CONTRACT_STATUS'], aggfunc = np.mean)

In [ ]:
#checking the table
table

In [ ]:
apx = table.T.plot(kind = 'bar')
ylab = apx.set_ylabel("% of loan payment Difficulties ")
plt.title("% of loan payment Difficulties  for NAME_CONTRACT_STATUS and NAME_CONTRACT_TYPE ", fontdict = {'fontsize':20})
plt.show()

 - Clients with 'Revolving loans' and "Refused" previous application tend to have more % of Loan Payment difficulties in current application.

# 5. Conclusion (Insights what we got after analysis)

#### 5.1 Insights we got on Application data

- Loan defaulters were
       - "Maternity leave" clients  in  ‘NAME_INCOME_TYPE’
       -  "Low skilled Laborers" clients in ‘OCCUPATION_TYPE’
       - "Lower Secondary " clients in ‘NAME_EDUCATION_TYPE’
Because their count is comparatively less and also have maximum % of loan payment Difficulties

#### 5.2 Insights we got on Previous Application data

- Loan defaulters were from the counts which are comparatively less in
    - "Refusal " from "NAME_CASH_LOAN_PURPOSE"
    - "Refused " from  ‘NAME_CONTRACT_STATUS’   
    - "Revolving Loans" from ‘NAME_CONTRACT_TYPE"
and they have maximum % of loan payment difficulties around 23%, 12% and 10% repectively.

- Clients with "Revolving Loans" with "Refused" previous application tend to have more %  of payment difficulties in current application. As their counts are comparatively less they were driving factors for Loan Defaulters.

# Thank you !